h1, .h1{
    font-size: 36px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg){
        font-size: 46px;
        line-height: 1.4;
    }
}
h2, .h2{
    font-size: 32px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;
}
h3, .h3{
    font-size: 28px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 15px;
}
h4, .h4{
    font-size: 24px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 15px;
}
h5, .h5{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 15px;
}
h6, .h6{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 15px;
}