   
// NAVBAR
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--navbar-padding-y, 0.5rem) var(--navbar-padding-x, 0);

    &-light {
        --navbar-base-color: #{$black};

        .nav-link{
            color: $color-grey-600;
    
            &.active, &:hover{
                color: var(--navbar-base-color);
            }
        }
    }
    
    &-dark {
        --navbar-base-color: #{$white};

        .nav-link{
            color: $color-grey-300;
    
            &.active, &:hover{
                color: var(--navbar-base-color);
            }
        }
    }

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
    &-expand {
  

    @each $breakpoint in map-keys($grid-breakpoints) {
  
      // stylelint-disable-next-line scss/selector-no-union-class-name
      &-#{$breakpoint} {
        @include media-breakpoint-up($breakpoint) {
          flex-wrap: nowrap;
          justify-content: flex-start;
            .navbar-menu{
                display: flex;
            }
            .navbar-toggler {
            display: none;
            }
        }
      }
    }
  }
}

.navbar-menu-mobile{
    list-style: none;
    display: none;

    @include media-breakpoint-down(lg){
        display: flex;
        align-items: center;
        column-gap: 2.5rem;
        margin: 0;
        padding: 0;
    }
    
    .nav-link{
        text-decoration: none;
        font-size: #{$fs-xl};
        cursor: pointer;
    }
    
}

.navbar-menu{
    list-style: none;
    display: none;
    align-items: center;
    column-gap: 2.5rem;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(lg){
        display: none;
    }

    .nav-link{
        text-decoration: none;
        font-size: #{$fs-xl};
        cursor: pointer;
    }
    
    .vr {
        display: inline-block;
        height: 50px;
        width: 6px;
        background: rgba(var(--color-rgb-white), .35);
        border-radius: 50rem;
        vertical-align: middle;

        @include media-breakpoint-up(lg){
            margin-right: 1.5rem;
        }
    }
}
